[submodule "OmniFocusScripts-CurtClifton"]
	path = OmniFocusScripts-CurtClifton
	url = git@github.com:SkydiveMike/OmniFocusScripts-CurtClifton.git
[submodule "templates"]
	path = templates
	url = git@github.com:SkydiveMike/templates.git
